*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
body{
    background-color: var(--backgroundFoot);
}

:root{
    --primary: #1e3932;
    --lightPrimary: #008248;
    --backgroundFoot: #f1f8f6;
    --backgroundMain: #d4e9e2;
    --backgroundHeader: #f3f1e7;
    --fontColor: #000000;
}

main{
    background-color: var(--backgroundMain);
    height: 70vh;
    width: 100vw;
    padding: 10rem 4rem;
    overflow: hidden;
}


h2{
    font-weight: normal;
    font-size: 2rem;
}

button{
    background-color: var(--lightPrimary);
    border: solid 0;
    border-radius: 20px;
    padding: 0.4rem 2rem;
    color:var(--backgroundMain);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 2.5rem 0 2rem 0;
}

footer{
    padding: 9rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    margin: 1rem 0;
}

.stepItems{
    display: flex;
    margin: 3rem 0;
    gap: 4rem;
}

.stepItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.numberCircle {
    margin: 1rem 0;
    box-sizing: content-box;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid var(--lightPrimary);
    text-align: center;
    font: 32px Arial, sans-serif;
}

p{
    color: var(--fontColor);
    font-size: 0.9rem;
}

h4{
    margin: 1.5rem 0;
}

a:link{
    color: var(--lightPrimary);
}


/***STAR*****************************************/

.star-five {
    --starColor: red;
    position: absolute;
    margin: 50px 0;
    position: relative;
    display: block;
    color: var(--starColor);
    width: 0px;
    height: 0px;
    border-right: 300px solid transparent;
    border-bottom: 210px solid var(--starColor);
    border-left: 300px solid transparent;
    transform: rotate(35deg) translate(400px, -600px);
  }
  .star-five:before {
    border-bottom: 240px solid var(--starColor);
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -135px;
    left: -195px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star-five:after {
    position: absolute;
    display: block;
    color: var(--starColor);
    top: 9px;
    left: -315px;
    width: 0px;
    height: 0px;
    border-right: 300px solid transparent;
    border-bottom: 210px solid var(--starColor);
    border-left: 300px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }


  /*
  PARA AGREGAR ESTRELLAS SE AGREGAN DIVS, LOS VALORES SE SACAN MULTIPLICANDO LOS DISTINTOS VALORES POR UN MISMO VALOR
  EJ: 
  300 *4 - 120 *4
  La proxima estrella mas grande seria
  300 *4.5 - 120*4.5
  La proxima estrella, pero mas pequena seria
  300* 3.5 - 120*3.5


  **/