
article{
    position: relative;
    top: 10px;
    background: burlywood;
    width: 350px;
    height: 300px;
  }
  
  section{
    position: absolute;
    top: 20px;
    right: 0px;
    background: plum;
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }
  
  .left{
    background: green;
    width: 50%;
    height: 100px;
    border: 0px solid black;
  }
  
  .right{
      background: red;
      width: 50%;
      height: 100px;
      border: 0px solid black;
  }

  /*absolute en absolute
    top 50%
    left 50%
    transform translate -50% -50%
  *
/