*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(73, 73, 73);
}

.sidebar{
    border-radius: 15px;
    margin: 2rem;
    float: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    padding: 2rem;
    height: 100vh;
}


li{
    list-style: none;
    font-size: 1.5rem;
    padding: 0.7rem;
}

i{
    text-align: center;
}

a:link{
    color: rgb(73, 73, 73);
}

a:visited{
    color: rgb(73, 73, 73);
}